.about{
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  .about-wrap{
    width: 70%;
    margin: 60px auto;
    .about-me{
      // width: 90%;
      margin: 30px auto;
      display: flex;
      justify-content: center;
      align-items: start;
      gap: 2rem;
      font-family: $font-kor;
      .about-txt{
        display: flex;
        flex-direction: column;
        gap: 5px;
        hr{
          width: 10rem;
          height: 5px;
          background-color: $primary-color;
          border: none;
        }
        p{
          font-size: $font-size-small;
          &:nth-of-type(2){
            font-size: $font-size-medium;
            margin-top: 30px;
          }
        }
      }
    }
    .skills{
      margin-top: 50px;
      h3{
        font-size: 50px;
        color: $primary-color;
        font-family: $font-eng;
        font-weight: 900;
      }
      .skills-icon{
        margin-top: 20px;
        display: flex;
        align-items: center;
        gap: 20px;
        img{
          border-radius: 5px;
        }
      }
    }
  }
}