*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
// body{
//   background-color: $bg-color;
//   color: $text-color;
// }
html{
  scroll-behavior: smooth;
}
button{
  outline: none;
  border: none;
  cursor: pointer;
}
li{
  list-style: none;
}
a{
  text-decoration: none;
  color: inherit;
}
h2{
  font-family: $font-eng;
  font-size: 96px;
  font-weight: 900;
  color: $primary-color;
}
h5{
  font-size: $font-size-large;
  color: $primary-color;
}