.main{
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  overflow: hidden;
  background-color: $primary-color;
  position: relative;
  .down-icon{
    position: absolute;
    bottom: 7%;
    left: 50%;
    width: 50px;
    transform: translateX(-50%);
    animation-name: down;
    animation-duration : 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate
  }
  .video-over{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(58, 84, 133, 0.8);
  }
  .bg-img{
    width: 100%;
    height: 50%;
    position: absolute;
    bottom: 0;
    @include responsive($breakpoint-medium){
      height: 60%;
    }
    @include responsive($breakpoint-small){
      height: 70%;
    }
  }
  .title-wrap{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    @include responsive($breakpoint-medium){
      top: 37%;
    }
    @include responsive($breakpoint-small){
      top: 28%;
    }
    p{
      position: relative;
      font-size: 200px;
      font-family: $font-eng;
      font-weight: 900;
      color: #fff;
      letter-spacing: -0.3rem;
      line-height: 8rem;
      animation: fadeIn 2s;
      @include responsive($breakpoint-medium and 1150px){
        font-size: 100px;
        line-height: 4rem;
      }
      @include responsive($breakpoint-small){
        font-size: 70px;
        line-height: 2.5rem;
      }
      &:nth-of-type(1){
        color: $sub-color;
        z-index: 2;
      }
    }
  }
}

@keyframes down{
  0%{
    opacity: 0.2;
    transform: translate(-50%,-10px);
  }
  50%{
    opacity: 0.5;
  }
  100%{
    opacity: 1;
    transform: translate(-50%,0);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}