.project{
  width: 100%;
  // height: 200vh;
  margin: 0 auto;
  background-color: $primary-color;
  .project-wrap{
    width: 70%;
    margin: 0 auto;
    padding: 60px 0;
    h2{
      color: $sub-color;
      margin-bottom: 60px;
    }
  }
}