.project{
  @include section_size;
  background-color: $primary-color;
  .project-wrap{
    @include component_size;
    @include responsive($breakpoint-medium){
      width: 100%;
    }
    h2{
      color: $sub-color;
      @include responsive($breakpoint-medium){
        text-align: center;
      }
      @include responsive($breakpoint-small){
        font-size: 60px;
        text-align: center;
      }
    }
  }
}