.project-contents{
  background-color: #fff;
  padding: 30px;
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  @include responsive($breakpoint-medium and 1600px){
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  @include responsive($breakpoint-small){
    gap: 0;
  }
  .container{
    width: 560px;
    height: 100%;
    padding-bottom: 50px;
    @include responsive($breakpoint-small){
      // width: 350px;
      width: 100%;
    }
    div{
      img{
        width: 560px;
        height: 500px;
        @include responsive($breakpoint-small){
          // width: 350px;
          width: 100%;
          height: 100%;
        }
      }
    }
  }
  .project-txt{
    font-family: $font-kor;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    h5{
      margin-bottom: 10px;
      white-space: pre-line;
      @include responsive($breakpoint-small){
        white-space: inherit;
      }
    }
    p{
      font-size: $font-size-medium;
      word-break: keep-all;
      white-space: pre-line;
    }
    .tool{
      display: flex;
      flex-wrap: wrap;
      flex-direction: row;
      gap: 10px;
      span{
        background-color: $sub-color;
        color: #fff;
        padding: 5px 10px;
        border-radius: 20px;
      }
    }
    .sub-wrap{
      display: flex;
      flex-direction: column;
      gap: 10px;
      margin-top: 30px;
      margin-bottom: 80px;
      @include responsive($breakpoint-medium){
        position: relative;
        bottom: 0;
        margin-top: 20px;
      }
      p{
        font-size: $font-size-small;
      }
    }
    button{
      font-family: $font-eng;
      font-size: $font-size-large;
      font-weight: 600;
      line-height: 2.3rem;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      // height: 60px;
      background-color: $primary-color;
      color: #fff;
      position: absolute;
      bottom: 0;
      right: 0;
      margin: 30px 20px;
      transition: 0.3s;
      @include responsive($breakpoint-small){
        width: 100px;
        height: 100px;
        font-size: 2rem;
        line-height: 2rem;
      }
      &:hover{
        background-color: $sub-color;
      }
    }
  }
}

.dot-custom {
  // bottom: -25px;
  width: 100%;
  list-style: none;
  text-align: center;
  // position: absolute;
  padding: 0;
}
.dot-custom li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  /*margin: 1px;*/
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.dot-custom li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: 0;
  background: 0 0;
}

.dot-custom li button:before {
  font-size: 5rem;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  content: '•';
  text-align: center;
  opacity: .75;
  color: $sub-color;
}

.dot-custom li.slick-active button:before {
  opacity: .75;
  color: $primary-color;
}