.scroll-top{
  width: 55px;
  height: 55px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  background-color: $sub-color;
  z-index: 20;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 5px 0 rgba(0,0,0,0.2);
  @include responsive($breakpoint-small){
    display: none;
  }
  cursor: pointer;
  img{
    width: 40px;
    height: 40px;
  }
}