//색상 변수
$primary-color: #3A5485;
$sub-color: #F1DBB6;
$text-color: #fff;

//폰트
$font-size-large: 36px;
$font-size-medium: 18px;
$font-size-small: 14px;

//반응형
$breakpoint-small: 600px;
$breakpoint-medium: 960px;
$breakpoint-large: 1024px;