//색상 변수
$primary-color: #3a5485;
$sub-color: #F1DBB6;
$text-color: #fff;

//폰트
$font-size-large: 36px;
$font-size-medium: 22px;
$font-size-small: 18px;
$font-eng: "Outfit", 'Paperlogy-4Regular';
// $font-kor: 'Pretendard-Regular', serif;
$font-kor: 'Paperlogy-4Regular', serif;

//반응형
// $breakpoint-small: 320px;
$breakpoint-small: 600px;
// $breakpoint-medium: 768px;
$breakpoint-medium: 960px;
$breakpoint-large: 1024px;