@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  // font-weight: 400;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

@import "./style/variables.scss";
@import "./style/global.scss";
@import "./style/mixins.scss";
@import "./style/ScrollTop.scss";
@import "./style/MenuBar.scss";
@import "./style/Main.scss";
@import "./style/About.scss";
@import "./style/Project.scss";
@import "./style/ProjectContents.scss";
@import "./style/Design.scss";
@import "./style/DesignPopup.scss";

// <weight>: Use a value from 100 to 900
// <uniquifier>: Use a unique and descriptive class name
// html {
//   font-family: "Outfit", serif;
//   font-optical-sizing: auto;
//   font-weight: 900;
//   font-style: normal;
// }